<div id="move-file-modal<%= index %>"
  class="modal hidden fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 flex justify-center items-center">
  <div class="modal-content bg-white rounded-lg p-8 md:flex flex-col w-1/4">
    <div class="flex justify-between items-center mb-4">
      <span class="text-center text-[#0CC0DF]">Move <span class="font-bold">
          <%= file.file_name %>

        </span></span>
      <button class="text-2xl" onclick="closeMoveFileModal(<%= index %>)">&times;</button>
    </div>
    <form id="moveForm" hx-post="/moveFile" hx-vals='{"filename": "<%= file.file_name %>"}' class="flex flex-col gap-2"
      onsubmit="closeMoveFileModal(<%= index %>)" hx-target=".file-item<%= index %>" hx-swap="outerHTML swap:0.5s"
      hx-on="htmx:afterRequest: moveFileToast()">
      <label for="foldernames" class="mb-4">Select a folder to move your file: </label>
      <select name="foldernames" id="foldernames" class="mb-8 border-2 rounded-md p-2 border-[#0CC0DF]">
        <option value="" selected disabled hidden>Choose a folder...</option>
        <option value="null">Main directory</option>
        <% for( const row of folderList ) { %>
          <% if (row.file_id !==file.file_id) { %>
            <option value="<%= row.file_id %>">
              <%= row.file_name %>
            </option>
            <% } %>
              <% } %>
      </select>
      <div class="md:flex items-center justify-center">
        <input type="submit" value="Move"
          class="bg-[#0CC0DF] hover:bg-[#36b3c9] cursor-pointer text-white font-light text-lg py-4 px-4 w-1/2 rounded" />
      </div>
    </form>
  </div>
</div>