<div class="md:flex flex-row gap-20 items-center">
  <% if (folderName==="" ) { %>
    <h1 class="mt-2 ml-6 font-semibold text-xl">Files shared with me</h1>
    <% } else { %>
      <h1 class="mt-2 ml-6 font-semibold text-xl">
        <%= folderName %>
      </h1>
      <% } %>
</div>
<div id="fileList" class="mt-6 ml-6 md:grid grid-cols-8 gap-4">
  <% fileList.forEach((file, index)=> { %>
    <div
      class="items file-item<%= index %> bg-white p-4 rounded-md shadow-lg hover:bg-gray-200 flex items-center relative cursor-pointer">
      <div class="flex-grow-0 mr-4">
        <% if (!file.is_folder) { %>
          <a href="download?filename=<%= file.file_name %>" class="file-link">
            <i class="fa fa-file text-l" aria-hidden="true"></i>
          </a>
          <% } else { %>
            <a href="folder/<%= file.file_id %>" hx-boost="true" class="folder-link">
              <i class="fa fa-folder text-l" aria-hidden="true"></i>
            </a>
            <% } %>
      </div>
      <div class="flex-grow truncate w-full text-sm font-semibold">
        <%= file.file_name %>
      </div>
      <div class="flex-shrink-0 relative">
        <button class="option-btn flex items-center justify-center hover:bg-gray-500 rounded-md w-8 h-8"
          onclick="toggleDropdown(this, <%= index %>)">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <div class="dropdown hidden absolute mt-2 w-48 z-10 bg-white rounded-md shadow-lg" id="dropdown<%= index %>">
          <% if (!file.is_folder) { %>
            <button class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"><a
                href="download?filename=<%= file.file_name %>" class="file-link">
                Download
              </a></button>
              <% } else { %>
            <% } %>
            <% if (file.permission  === 'rw') { %>
              <button onclick="openRenameModal(<%= index %>)" class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                hx-trigger="">Rename </button>
            <% } else { %>
              <button disabled class="block px-4 py-2 text-sm text-gray-300"
                hx-trigger="">Rename </button>
              <% }  %>
              <button disabled
                class="block px-4 py-2 text-sm text-gray-300">Move file</button>
              <button hx-post="/removeSharedFile?filename=<%= file.file_name %>" hx-target=".file-item<%= index %>"
                hx-swap="outerHTML swap:0.5s" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 val">Remove Access</button>
        </div>
      </div>
    </div>
    <%- include('renameModal.ejs', {index, file}) %>

        <% }) %>
</div>