<% sharedUserLists.forEach((user, index)=> { %>
  <div id="users<%= index %>" class="flex items-center justify-between p-2 border-b border-gray-300">
    <div class="md:flex flex-col">
      <span>
        <%= user.username %>
      </span>
      <span class="text-[#A2A6AD]">
        <%= user.email %>
      </span>
      <div id="permission" class="md:flex md:flex-row">
        <% if (user.permission==='r' ) { %>
          <span>Permission: <span class="text-green-500">Read</span></span>
          <% } else { %>
            <span>Permission: <span class="text-blue-500">Write</span></span>
            <% } %>
      </div>
      <button class="text-left text-red-600 hover:text-red-800" hx-post="/removeAccess"
        hx-vals='{"userId": "<%= user.user_id %>"}' hx-target="#users<%= index %>" hx-swap="outerHTML swap:0.5s"
        hx-on="htmx:afterRequest: removeAccessToast()"
        hx-confirm="Are you sure you want to remove access for this user?">
        Remove Access
      </button>
    </div>
    <button
      class="text-white border-2 border-green-500 p-2 rounded-md bg-green-500 hover:border-green-600 hover:bg-green-600"
      hx-post="/editPButton" hx-target="#users<%= index %>" hx-vals='{"userId": "<%= user.user_id %>"}'>Edit
      Permission</button>
  </div>
  <% }) %>